
</form><!DOCTYPE html>
<html>
    
    <head>
        
        <title>Common Room | Codeword</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
        
        <img src="{{ url_for('static', filename='CommonRoom.png')}}">

        <h1>The Current Code Word is: {{ cw }}</h1>
        
        <h2>Change  Code Word:</h2>
        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
    </body>

</html>